# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# VSCode settings
.vscode/

# Environment variables
.env

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/

# MyPy
.mypy_cache/
.dmypy.json
.pyre/

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# Windows
Thumbs.db